<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated_poem</title>
    <style>
        body {
            font-family: "Courier New", Courier, monospace; /* 고정 폭 글꼴 사용 */
            white-space: pre-wrap; /* 공백을 유지하는 스타일 */
        }
        .poem {
            line-height: 0;
            margin-bottom: -30px;
            letter-spacing: -5px;
        }
    </style>
</head>
<body>
    <h1>make_own_essence:for {{ poem_name }}</h1>
    <form method="POST" action="/">
        <label for="initial">what are you wondering about? choose one among ㄴ,ㄷ,ㅂ,ㅇ,ㅋ,ㅁ,ㅍ:</label>
        <input type="text" id="poem_initial" name="poem_initial" maxlength="1" required>
        <button type="submit">click to generate</button>
    </form>
    <div class="poem">
        {% for line in poem_lines %}
            <p>{{ line|safe }}</p>
        {% endfor %}
    </div>
    

</body>
</html>